<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="recursos/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>EXPRESS STATIC</h1>
    <img src="recursos/img/charlie_fuck_normal.jpg" alt="" />
  </body>
</html>
