<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Pagina de inicio</h1>
    <% if (login) { %>
      <h1>El usuario conectado es: <strong><%= name%></strong></h2>
        <a href="logout" class="a-logout">Logout</a>
    <%} else {%>
      <h1><strong><%= name%></strong></h1>
      <a href="login" class="a-login">Ir al LOGIN</a>
    <%}%>
  </body>
</html>
